<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <%= @bookmark.url %>
  </div>
</div>
<%= link_to 'Edit', edit_topic_bookmark_path(@bookmark.topic, @bookmark),  class: 'btn btn-success' %>
<%= link_to 'Delete', topic_bookmark_path(@bookmark.topic, @bookmark), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
<%= link_to 'Back', topics_path,  class: 'btn btn-success' %>
