<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <%= @topic.title %>
  </div>
</div>
<table>
  <%= render :partial => "bookmarks/bookmark", :collection => @topic.bookmarks %>
</table>
<%= link_to 'Edit', edit_topic_path(@topic), class: 'btn btn-success'  %>
<%= link_to 'Delete', @topic, method: :delete, class: 'btn btn-danger'  %>
<%= link_to 'New Bookmark', new_topic_bookmark_path(@topic), class: 'btn btn-success'  %>
<%= link_to 'Back', topics_path, class: 'btn btn-success'  %>
