<div class="container">
  <div class="row">
    <div class="col-xs-12" style="text-align:center">
      My Bookmarks
    </div>
  </div>
  <div class="row">
<%
topic_id = 0
@user_bookmarks.sorted_by_topic().each do |bookmark| %>
      <% if topic_id != bookmark.topic_id
            topic_id = bookmark.topic_id
      %>
      <div class="row">
        <div class="col-xs-12">
          <%= bookmark.topic.title %>
        </div>
      </div>
      <% end %>
      <div class="col-xs-3">
        <div class="row">
          <div class="col-xs-12">
            <%= link_to bookmark.url, topic_bookmark_path(bookmark.topic, bookmark) %>
          </div>
          <div class="col-xs-12">
            <%= link_to 'Delete', topic_bookmark_path(bookmark.topic, bookmark), method: :delete, class: 'btn btn-danger'  %>
          </div>
        </div>
      </div>
<% end %>
  </div>
  <div class="row">
    <div class="col-xs-12" style="text-align:center">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="text-align:center">
      Liked Bookmarks
    </div>
  </div>
  <div class="row">
  <%
  topic_id = 0
  @liked_bookmarks.sorted_by_topic().each do |bookmark| %>
        <% if topic_id != bookmark.topic_id
              topic_id = bookmark.topic_id
        %>
        <div class="row">
          <div class="col-xs-12">
            <%= bookmark.topic.title %>
          </div>
        </div>
        <% end %>
        <div class="col-xs-3">
          <div class="row">
            <div class="col-xs-12">
              <%= link_to bookmark.url, topic_bookmark_path(bookmark.topic, bookmark) %>
            </div>
            <div class="col-xs-12">
                <%= link_to [bookmark, current_user.user_likes(bookmark)], class: 'btn btn-primary', method: :delete do %>
                  #Unlike
                <% end %>
            </div>
          </div>
        </div>
  <% end %>
  </div>
<div>
